@using pwned_shop.ViewModels

@{
    var reciept = (List<CheckOutViewModel>)ViewData["RecieptView"];
    var c = reciept.GroupBy(o => new
    {
        o.ImgURL,
        o.ProductName,
        o.ProductDesc,
        o.Qty,
        o.UnitPrice,

    });
    ;
}


@foreach(var dud in c)
            {
                <span>@dud.Key.ImgURL</span><span> @dud.Key.ProductName</span><span>  @dud.Key.ProductDesc</span><span>  @dud.Key.Qty</span> <span>  @dud.Key.UnitPrice</span>
                                                                                                                                             <select>
                                                                                                                                                 @foreach(var x in dud)
                                                                                                                                                 {
                                                                                                                                                 <option> @x.ActivationCode</option>
                                                                                                                                                 }
                                                                                                                                             </select>
            }