@using pwned_shop.Models

@{
    ViewData["Title"] = "Purchase History";
    List<OrderDetail> pastPurchases = (List<OrderDetail>)ViewData["pastPurchases"];
    IEnumerable<int> orderIds = pastPurchases.Select(x => x.OrderId).Distinct();
}

<table id="mainframe">
    @foreach (int orderId in orderIds)
    {

        List<OrderDetail> listing = pastPurchases.FindAll(x => x.OrderId == orderId).ToList();

        <tr>
            <td class="listing" style="padding-bottom: 1%;">
                <img src=@listing[0].Product.ImgURL class="image" />
                <div id="pdt-name">@listing[0].Product.ProductName</div>
                <div id="pdt-descr">@listing[0].Product.ProductDesc</div>
                <input type="button" name="button" class="button" value="Download" />
            </td>

            <td style="width: 60%;">

                <table>
                    <tr>
                        <td>Purchased On:&nbsp;</td>
                        <td>@listing[0].Order.Timestamp.ToLongDateString()</td>
                    </tr>
                    <tr>
                        <td>Quantity:&nbsp;</td>
                        <td>@listing.Count()</td>
                    </tr>
                    <tr>
                        <td>Activation Code:&nbsp;</td>
                        <td>
                            <form>
                                <select id="select">
                                    @foreach (OrderDetail item in listing)
                                    {
                                        <option value="@item.ActivationCode">@item.ActivationCode</option>
                                    }
                                </select>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="td-filler"></td>
        </tr>
    }
</table>
