@{
    var cartList = (List<Cart>)ViewData["cartList"];
    var totalPrice = (double)ViewData["totalPrice"];
}

<div><img src="~/bannerImg/offersbanner.png" style="width:100%;"></div>
<br>
<a class="continue-shopping" style="float:right;" asp-area="" asp-controller="Product" asp-action="Index">Continue Shopping</a>
<h1 class="sc-heading">Shopping Cart</h1>

<br>

<div class="container-fluid">
    <div>
        <div class="row">
            <table>
                <thead class="cart-table-heading">
                    <tr class="cart-table-heading-row">
                        <th>Product Details</th>
                        <th></th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><div class="cart-body-padding"></div></td>
                    </tr>

                    @foreach (var item in cartList)
                    {
                        <tr>
                            <td class="cart-product-images">
                                <div><img src=@item.Product.ImgURL></div>
                            </td>

                            <td style="text-align: left; vertical-align: middle">
                                <p class="cart-product-name">@item.Product.ProductName</p>
                                <p class="cart-product-des">@item.Product.ProductDesc</p>
                                <br />
                                <div>
                                    <button class="remove-item" productId="items.Id"><i class="fa fa-trash"></i> Remove item</button>
                                </div>
                            </td>

                            <td class="cart-unit-price">S$@item.Product.UnitPrice</td>

                            <td>
                                <div>
                                    <input class="qty" min="1" name="@item.ProductId-quantity" value="@item.Qty" type="number" productid="@item.ProductId">
                                </div>
                            </td>

                            <td class="cart-subtotal">$@((item.Qty * item.Product.UnitPrice).ToString("c"))</td>
                        </tr>

                        <tr>
                            <td><div class="cart-body-padding"></div></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>
            <div class="text-right">
                <p class="cart-total-amt">Please pay: S$@totalPrice</p>
                <a asp-area="" asp-controller="Order" asp-action="Index"><input type="button" class="checkout-button" value="CHECKOUT"></a>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
